
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:space-between;
	flex-direction:row;
	flex-wrap:wrap;
	
}

.item1{
	width:100px;
	height:100px;
	background-color:green;
}
.item3{
	width:100px;
	height:100px;
	background-color:blue;
}
.item2{
	width:100px;
	height:100px;
	background-color:red;
}
